#projetos {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 1000px;
}

#projetos td,
#projetos th {
    border: 1px solid #ddd;
    padding: 8px;
}

#projetos tr:nth-child(even) {
    background-color: #f2f2f2;
}

#projetos tr:hover {
    background-color: #ddd;
}

#projetos th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
}

button {
    cursor: pointer;
}

.button {
    background: #4983ee;
    border: 0;
    border-radius: 8px;
    color: #fff;
    font-size: 700;
    margin-top: 16px;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    font-size: 7;
    line-height: 60px;
    transition: 0.2s;
}

.button:hover {
    filter: brightness(90%);
}
