.projetos-lista{
    margin-top: 80px;
    padding-left: 30px;
}


#projetos {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 1000px;
}

#projetos td,
#projetos th {
    border: 1px solid #ddd;
    padding: 8px;
}

#projetos tr:nth-child(even) {
    background-color: #f2f2f2;
}

#projetos tr:hover {
    background-color: #ddd;
}

#projetos th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
}

