.tarefas-cadastro {
    margin-top: 80px;
    padding-left: 30px;
}
.cadastro-tarefas-container{
    width: 600px;
    max-width: 1120px;
    margin: 0 auto;
    text-align: center;
    margin-top: 20px;
        
    display: flex;
    align-items: center;
    justify-content: center;    
}

.cadastro-tarefas-container select {
    text-align: center;
}

.cadastro-tarefas-container label {
    font-size: 25px;
    margin-right: 10px;

}


.cadastro-tarefas-container .button {
    cursor: pointer;
    width: 300px;
    height: 60px;
    background: #4983ee;
    border: 0;
    border-radius: 8px;
    color: #fff;
    margin-top: 16px;
    margin-left: 10px;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    font-size: 7;
    line-height: 60px;
    transition: 0.2s;
}

.cadastro-tarefas-container .button:hover {
    filter: brightness(90%);
}

.cadastro-tarefas-container textarea {
    width: 100%;
} 

.cadastro-tarefas-container section{
    display: flex;
    margin-bottom: 20px;
}

.cadastro-tarefas-container .primeiro input {
    width: 500px;
    margin-right: 20px
}
.cadastro-tarefas-container .primeiro select {
    width: 200px;
    margin-left: 10px
}

.cadastro-tarefas-container .segundo input {
    width: 200px;
}

.cadastro-tarefas-container .segundo select {
    width: 200px;
    
}
.cadastro-tarefas-container textarea {
    width: 100%;
} 

.cadastro-tarefas-container .descricao {
    margin-bottom: 20px;
    width: 100%
}

.cadastro-tarefas-container .observacao {
    margin-bottom: 20px;
    width: 100%

}