.clientes-list{
    margin-top: 80px;
    padding-left: 30px; 
}
.clientes-lista{    
   
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.cliente-unit{
    height: 80px;
    width: 800px;
    border: #222121;
    border-style: solid;
    border-width: 1px;
    border-radius: 0.5rem;
    margin: 5px;
    padding: 10px;
    font-style: black;

}
.cliente-unit p{
    margin-bottom: 5px;

}

.cliente-unit span{
    font-size: 12px;
    margin-left: 5px;
}
.cliente-infos{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}
.cliente-unit section{
    flex-direction: column;
}
