.container-inicio {
    margin: 0;
    outline: 0;
    padding-top: 90px;
    margin-left: 20px;
    margin-right: 20px;
    /* display: grid;
    grid-template-rows: auto; */
}
  .container-inicio h1 {
        text-align: left;
        margin-top: 20px;
    }

.container-timeline {
    width: 1864px;
    
}
.tarefas-preview {
    width: 650px;
    margin-right: 10px;
    margin-left: 5px;
}
.lista-tarefas {
    width: 500px;
    margin-right: 10px;
}
.container-direita {
    width: 100px;
    height: 100px;

    border-style: solid;
    border-width: 1;
}
.tarefas-calendario{
    display: flex;
    flex-direction: row;
}

#tarefas {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 40px
}

#tarefas td,
#tarefas th {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    border: 1px solid #ddd;
    height: 12px; 
}

#tarefas tr:nth-child(even) {
    background-color: #f2f2f2;
}

#tarefas tr:hover {
    background-color: #ddd;
}

#tarefas th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    font-size: 16px;
}

#timeline {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    font-size: 12px;
    border-collapse: collapse;
}

#timeline td,
#timeline th {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    border: 1px solid #ddd;
    height: 12px;    
}

#timeline tr:nth-child(even) {
    background-color: #f2f2f2;
}

#timeline tr:hover {
    background-color: #ddd;
}

#timeline th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
}

.tarefa-box{
    height: 95px;
    border: #222121;
    border-style: solid;
    border-width: 1px;
    border-radius: 0.5rem;
    margin: 5px;
    padding: 5px;
    font-style: black;
    width: 500px;

}
.tarefa-box p{
    margin-bottom: 5px;
}

.tarefa-box span{
    font-size: 12px;
}
.tarefa-infos{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}
.tarefa-box section{
    flex-direction: column;
}
a{
    color: black;
}