.container-inicio {
    margin: 0;
    outline: 0;
    padding: 0;
    margin-left: 20px;
    margin-right: 20px;
    display: grid;
    grid-template-rows: 35vh;
    grid-column-gap: 400px;
}
  .container-inicio h1 {
        text-align: left;
    }

.container-timeline {
    margin-top: 90px;
    grid-row-start: 1;
    grid-row-end: 1;
    grid-column-start: 1;
    grid-column-end: 3;
    height: auto;
    width: 1864px
}
.lista-tarefas {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 1;
    width: 1400px;
    height: auto;
    padding-top: 80px
}
.container-direita {
    width: 100%;
    height: auto;
    grid-row-start: 2;
    grid-row-end: 2;
    grid-column-start: 2;
    grid-column-end: 2;
    padding-top: 80px
}


@media only screen and (max-width: 2132px) {
    /* For mobile phones: */
    .container-inicio {
        grid-column-gap: 100px;
    }
}

@media only screen and (min-width: 2132px) {
    /* For mobile phones: */
    .container-direita {
        grid-row-start: 1;
        padding-top: 1px;
        margin-top: 0px;
        margin-left: 40px
    }
  
    .container-timeline {
        grid-column-end: 2;
    }
    .container-inicio {
        grid-column-gap: 20px;
    }
}

#tarefas {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 40px
}

#tarefas td,
#tarefas th {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    border: 1px solid #ddd;
    height: 12px; 
}

#tarefas tr:nth-child(even) {
    background-color: #f2f2f2;
}

#tarefas tr:hover {
    background-color: #ddd;
}

#tarefas th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    font-size: 16px;
}

#timeline {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    font-size: 12px;
    border-collapse: collapse;
}

#timeline td,
#timeline th {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    border: 1px solid #ddd;
    height: 12px;    
}

#timeline tr:nth-child(even) {
    background-color: #f2f2f2;
}

#timeline tr:hover {
    background-color: #ddd;
}

#timeline th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
}