.projetos-cadastro {
    margin-top: 80px;
    padding-left: 30px;
}

.cadastro-projetos-container {
    width: 600px;
    max-width: 1120px;
    margin: 0 auto;
    text-align: center;
    margin-top: 20px;
        
    display: flex;
    align-items: center;
    justify-content: center;
}

.cadastro-projetos-container label {
    font-size: 25px;
    margin-right: 10px;
}

.cadastro-projetos-container section {
        display: flex;
        margin-bottom: 20px;
     }

.cadastro-projetos-container .button {
    cursor: pointer;
    width: 300px;
    height: 60px;
    background: #4983ee;
    border: 0;
    border-radius: 8px;
    color: #fff;
    margin-top: 16px;
    margin-left: 10px;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    font-size: 7;
    line-height: 60px;
    transition: 0.2s;
}

.cadastro-projetos-container .button:hover {
    filter: brightness(90%);
}

.cadastro-projetos-container .primeiro input {
    width: 500px;
    margin-right: 20px
}
.cadastro-projetos-container .primeiro select {
    width: 200px;
    margin-left: 10px
}
.cadastro-projetos-container .segundo {
    display: flex;
    justify-content: space-between
}
.cadastro-projetos-container .segundo select{
    width: 300px;
}
.cadastro-projetos-container .terceiro {
    justify-content: space-between
}
.cadastro-projetos-container .terceiro input {
    width: 150px
}

.cadastro-projetos-container .terceiro select{
    width: 150px
}
.cadastro-projetos-container .quarto {
    justify-content: space-between
}
.cadastro-projetos-container .quarto input {
    width:200px
}

.cadastro-projetos-container textarea {
    width: 100%;
} 

.cadastro-projetos-container .descricao {
    margin-bottom: 20px;
}

.cadastro-projetos-container .observacoes {
    margin-bottom: 20px;

}